*{margin: 0px;
padding: 0px;

}


body {
    background-image: url('./SMRITI.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    animation: background 4s infinite;
  }

/* @keyframes background {
0%{background-image: url(./FB_IMG_1695352949070.jpg);}
0%{background-image: url(./FB_IMG_1695352949070.jpg);}
0%{background-image: url(./FB_IMG_1695352949070.jpg);}
0%{background-image: url(./FB_IMG_1695352949070.jpg);}
} */






/* background image section */





.sscm{
 margin-top: 20px;
padding-left: 10px;
text-align: center;
height: 100px;
width: 100px;
margin-left: 10px;
animation: nsd 4s infinite;
}


    header {
        position: fixed;
        top: 20px;
        width: 100%;
        
      }

      /* about section */

.button{
    color: rgb(88, 231, 231);
    margin: 20px;
    font-size: 30px;
}
a{
    color: aqua;
}
a:hover{
color: rgb(145, 30, 30);

}

/* index p tag */

.p1{
padding-top: 100px;
font-size: 40px;
margin-bottom: 100px;
padding-left: 550px;
padding-right: 200px;
color: rgb(219, 8, 8);
text-decoration: solid;
}
p1:hover{
color: aqua;
text-transform: uppercase;
}

.p2{
padding-top: 300px;
font-size: 70px;
display: flex;
justify-content: center;
color: rgb(252, 252, 252);
text-decoration: solid;
}

 /* other styles */
h1{
    font-size: 100px;
    color: rgb(233, 223, 222);
}
h1:hover{
    color: rgb(231, 64, 64);
}
h2{
    font-size: 25px;
}
.icon{
margin-top: 300px;
}



                .icon{

                    background-image: url(./white-blurred-background_1034-249.avif);
                    background-size: cover;
                    height: 200px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-attachment: fixed;
                    width: 100%;
                   
                }
                .sicon{
                    margin-top: 50px; 

                }
                .social{
                    color: rgb(0, 0, 0);

font-size: 50px;

margin: 30px;

text-decoration: none;

                }

                .social:hover{
color: rgb(26, 211, 208);
transition: 100ms;
                }   

/* media screen */

@media screen and (max-width:1700px) and (min-width:500px) {

    body {
        background-image: url('./SMRITI.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        
      }


    header {
        position: fixed;
        width: 100%;
    }
h1{
font-size: 50px;
color: rgb(0, 3, 3);
}
.nsdh{
width: auto;
height: fit-content;

}
.sscm{
    height: 80px;
    width: 80px;
   margin-left: 10px;

    }
    
        header {
            position: fixed;
            top
            : 0;
            width: 100%;
           
          }
    
          /* about section */


    
    .button{
      font-size: 20px;
    }
    a{
        color: rgb(221, 80, 15);
    }
    a:hover{
        color: rgb(126, 27, 27);
    }
    
    /* index p tag */
    
    .p1{
    padding-top: 10px;
    font-size:25px;
    padding-left: 150px;
    padding-right: 80px;
    color: rgb(5, 3, 3);
    text-decoration: solid;
    }
    .p2{
        padding-top: 300px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        color: rgb(0, 0, 0);
        text-decoration: solid;
        }   



}


              

            

                      
                      